<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link href="favicon.ico" rel="icon" type="image/x-icon" />

  <meta name="author" content="UDIGIT TECHNOLOGY CO.,LTD." />
  <!--作者名稱-->
  <meta name="copyright" content="UDIGIT TECHNOLOGY CO.,LTD." />
  <!--版權所有人名稱-->
  <meta name="UDIGIT" content="https://udigit.com.tw/" />
  <meta name="keywords" content="關鍵字1,關鍵字2,關鍵字3" />
  <!--關鍵字-->
  <meta name="description" content="網頁描述" />
  <!--網頁描述-->

  <meta itemprop="name" content="網站名稱或標題" />
  <!--網站名稱或標題-->
  <meta itemprop="image" content="要顯示的縮圖網址" />
  <!--縮圖網址-->
  <meta itemprop="description" content="網頁描述" />
  <!--網頁描述-->

  <meta property="og:locale" content="zh_TW" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="網站名稱或標題" />
  <!--網站名稱或標題-->
  <meta property="og:site_name" content="網站名稱或標題" />
  <!--網站名稱或標題-->
  <meta property="og:url" content="網址" />
  <!--網址-->
  <meta property="og:image" content="要顯示的縮圖網址" />
  <!--縮圖網址-->
  <meta property="og:description" content="網頁描述" />
  <!--網頁描述-->

  <!-- Android:url：商品的 URL Scheme -->
  <!-- Android:package：這可以讓使用者在未安裝的時候連結至安裝連結 -->
  <!-- Android:app_name：使用者未安裝App，叫你去下載某某App的那個文案 -->
  <meta property="al:android:url" content="#" />
  <meta property="al:android:package" content="#" />
  <meta property="al:android:app_name" content="#" />

  <!-- iOS:url：商品的 URL Scheme -->
  <!-- iOS:app_store：這可以讓使用者在未安裝的時候連結至安裝連結 -->
  <!-- iOS:app_name：使用者未安裝App，叫你去下載某某App的那個文案 -->
  <meta property="al:ios:url" content="#" />
  <meta property="al:ios:app_store_id" content="#" />
  <meta property="al:ios:app_name" content="#" />

  <!-- 要在使用者未安裝 App 的時候自動 fallback 帶使用者到網頁版嗎？預設是 true，若設為 false，則 Facebook 會問使用者是否要下載該 App，或是直接去網頁 -->
  <meta property="al:web:should_fallback" content="false" />

  <title>敏捷ERP 中小企業轉型的核心爆發力</title>

  <link rel="stylesheet" href="Scripts/lib/sweetalert2/sweetalert2.min.css" />
  <link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
  <link rel="stylesheet" href="Content/css/style.min.css" />

  <!--1366以上 PC-->
  <!--1024~1365 Tablet橫-->
  <!--768~1023 Tablet直-->
  <!--767以下 Mobile-->

  <!--Bootstap(lg) 1200以上-->
  <!--Bootstap(md) 992-1199-->
  <!--Bootstap(sm) 768-991-->
  <!--Bootstap(xs) 767以下-->

  <!--iphone+ 736(560)-->
  <!--iphone 667(555)-->
  <!--iphone5 568(460)-->

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-T3LHKJ9');</script>
  <!-- End Google Tag Manager -->

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3LHKJ9" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div id="wrapper">
    <header>
      <div class="banner-group">
        <div class="container">
          <img class="slogan" src="Content/img/bizapps_d365bc_web_title.png" alt="">
        </div>
      </div>
    </header>
    <main>
      <section class="sect-general">
        <div class="video-group">
          <h1 class="topic">30 秒課程精華搶先看</h1>
          <div class="iframe-group">
            <video id="vid1" class="azuremediaplayer amp-default-skin absolute-center-xs" autoplay controls
              data-setup='{"techOrder": ["azureHtml5JS", "flashSS", "html5FairPlayHLS","silverlightSS", "html5"], "nativeControlsForTouch": false}'>
              <source
                src="https://scqmediaservice-aaea.streaming.media.azure.net/895cdc41-6d59-4aed-aaa7-561072c0dd8f/ART_PROMO.ism/manifest"
                type="application/vnd.ms-sstr+xml" />
            </video>
          </div>
        </div>
      </section>
      <section class="sect-general">
        <div class="flex-row">
          <div class="col-xs-12 col-md-6">
            <div class="course-group" v-html="webData.Content"></div>
          </div>
          <div class="col-xs-12 col-md-6">
            <form class="form-group" action="" method="post" v-on:submit.prevent="Submit">
              <p class="topic">立即填表註冊，觀看完整課程</p>
              <p class="tip">*為必填欄位</p>
              <div class="row">
                <p class="title">名字*</p>
                <input type="text" name="Name" v-model="formData.Name" data-val="true" data-val-required="此為必填欄位">
                <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
              </div>
              <div class="row">
                <p class="title">姓氏*</p>
                <input type="text" name="Surname" v-model="formData.Surname" data-val="true" data-val-required="此為必填欄位">
                <span class="field-validation-valid" data-valmsg-for="Surname" data-valmsg-replace="true"></span>
              </div>
              <div class="row">
                <p class="title">手機*</p>
                <input type="text" name="Cellphone" v-model="formData.Cellphone" data-val="true"
                  data-val-required="此為必填欄位">
                <span class="field-validation-valid" data-valmsg-for="Cellphone" data-valmsg-replace="true"></span>
              </div>
              <div class="row">
                <p class="title">公司電子郵件*</p>
                <input type="text" name="Email" v-model="formData.Email" data-val="true" data-val-required="此為必填欄位"
                  data-val-email="需輸入正確格式，如：example@yourdomain.com">
                <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
              </div>
              <div class="flex-row">
                <div class="col-xs-12 col-md-4">
                  <div class="row">
                    <p class="title">公司電話-區碼*</p>
                    <input type="text" name="AreaCode" v-model="formData.AreaCode" data-val="true"
                      data-val-required="此為必填欄位">
                    <span class="field-validation-valid" data-valmsg-for="AreaCode" data-valmsg-replace="true"></span>
                  </div>
                </div>
                <div class="col-xs-12 col-md-8">
                  <div class="row">
                    <p class="title">公司電話*</p>
                    <input type="text" name="Telephone" v-model="formData.Telephone" data-val="true"
                      data-val-required="此為必填欄位">
                    <span class="field-validation-valid" data-valmsg-for="Telephone" data-valmsg-replace="true"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <p class="title">職稱*</p>
                <input type="text" name="JobTitle" v-model="formData.JobTitle" data-val="true"
                  data-val-required="此為必填欄位">
                <span class="field-validation-valid" data-valmsg-for="JobTitle" data-valmsg-replace="true"></span>
              </div>
              <div class="row">
                <p class="title">公司名稱*</p>
                <input type="text" name="Company" v-model="formData.Company" data-val="true" data-val-required="此為必填欄位">
                <span class="field-validation-valid" data-valmsg-for="Company" data-valmsg-replace="true"></span>
              </div>
              <div class="row">
                <p class="title">產業*</p>
                <input type="text" name="Industry" v-model="formData.Industry" data-val="true"
                  data-val-required="此為必填欄位">
                <span class="field-validation-valid" data-valmsg-for="Industry" data-valmsg-replace="true"></span>
              </div>
              <div class="row">
                <p class="title">員工數*</p>
                <input type="text" name="Employee" v-model="formData.Employee" data-val="true"
                  data-val-required="此為必填欄位">
                <span class="field-validation-valid" data-valmsg-for="Employee" data-valmsg-replace="true"></span>
              </div>
              <div class="row">
                <p class="title">國家/地區*</p>
                <input type="text" name="CountryAndArea" v-model="formData.CountryAndArea" data-val="true"
                  data-val-required="此為必填欄位">
                <span class="field-validation-valid" data-valmsg-for="CountryAndArea" data-valmsg-replace="true"></span>
              </div>
              <div class="btn-group">
                <button id="send" class="btn" type="submit">
                  <span>註冊</span>
                  <img src="Content/img/loading.svg" alt="">
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  </div>

  <script src="Scripts/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="Scripts/axios.min.js"></script>
  <script src="Scripts/lib/sweetalert2/sweetalert2.min.js"></script>
  <script src="Scripts/lib/jquery-validate/jquery.validate.min.js"></script>
  <script src="Scripts/lib/jquery-validate/jquery.validate.unobtrusive.min.js"></script>
  <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script>
  <script src="Scripts/script.js"></script>
  <script>
    var vm = new Vue({
      el: '#wrapper',
      data: {
        webData: {
          Url: '',
          Content: '',
        },
        formData: {
          SourceCode: '',
          Name: '',
          Surname: '',
          Cellphone: '',
          Email: '',
          AreaCode: '',
          Telephone: '',
          JobTitle: '',
          Company: '',
          Industry: '',
          Employee: '',
          CountryAndArea: '',
        }
      },
      mounted: function () {
        this.GetData();
      },
      methods: {
        GetData() {
          axios.get('https://scq-api.udigit.com.tw/questionnaire/content?id=10')
            .then(function (response) {
              console.log(response);
              vm.$data.webData.Url = response.data.Url;
              vm.$data.webData.Content = response.data.Content;
              vm.$data.formData.SourceCode = response.data.SourceCode;
            })
            .catch(function (error) {
              console.log("error:GetData");
            });
        },
        CheckForm() {
          if (
            this.formData.SourceCode != '' &&
            this.formData.Name != '' &&
            this.formData.Surname != '' &&
            this.formData.Cellphone != '' &&
            this.formData.Email != '' &&
            this.formData.AreaCode != '' &&
            this.formData.Telephone != '' &&
            this.formData.JobTitle != '' &&
            this.formData.Company != '' &&
            this.formData.Industry != '' &&
            this.formData.Employee != '' &&
            this.formData.CountryAndArea != '') {
            return true;
          } else {
            return false;
          }
        },
        CreateFormData() {
          var _Data = new FormData();
          _Data.append("SourceCode", this.formData.SourceCode);
          _Data.append("Name", this.formData.Name);
          _Data.append("Surname", this.formData.Surname);
          _Data.append("Cellphone", this.formData.Cellphone);
          _Data.append("Email", this.formData.Email);
          _Data.append("AreaCode", this.formData.AreaCode);
          _Data.append("Telephone", this.formData.Telephone);
          _Data.append("JobTitle", this.formData.JobTitle);
          _Data.append("Company", this.formData.Company);
          _Data.append("Industry", this.formData.Industry);
          _Data.append("Employee", this.formData.Employee);
          _Data.append("CountryAndArea", this.formData.CountryAndArea);
          return _Data;
        },
        Submit() {
          var _type = this.CheckForm();
          if (_type) {
            $('#send').addClass('loading');
            $('#send').attr('disabled', true);
            var _formData = this.CreateFormData();
            axios.post('https://scq-api.udigit.com.tw/questionnaire/register', _formData)
              .then(function (response) {
                $('#send').removeClass('loading');
                $('#send').attr('disabled', false);
                switch (response.status) {
                  case 200:
                    Swal.fire({
                      icon: 'success',
                      title: '註冊成功',
                      html: '重整中...',
                      timer: 1500
                    }).then(function () {
                      window.location.reload();
                    });
                    break;
                  case 400:
                    Swal.fire({
                      icon: 'error',
                      title: '註冊失敗',
                      html: data.Content,
                    });
                    break;
                  case 500:
                    Swal.fire({
                      icon: 'error',
                      title: '系統錯誤'
                    });
                    break;
                }
              })
              .catch(function (error) {
                console.log("error:Submit");
              });
          }
        }
      },
    });
  </script>

</body>

</html>